.lsButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.userText input {
  display: block;
  width: 100%;
}

form {
  display: inline-block;
  width: 235px;
}

.timeblockDevDisplay *{
  display: inline;
  margin: 0.5em;
}

.timeblockDevDisplay {
  display: block;
  width: 100%;
}

.calendarStyle {
  display: inline;
  align-self: center;
}

.dayBlock {
   display: inline-block;
   width: 12.85%;
   height: 270px;
   background: #FFFFFF;
   border: 1px solid black;
}

.dayBlockBegin .dayBlock {
  margin-left: 5%;
}

.dayBlockEnd .dayBlock {
  margin-right: 5%;
}
