.lsButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.userText input {
  display: block;
  width: 100%;
}

form {
  display: inline-block;
  width: 235px;
}

.timeblockDevDisplay *{
  display: inline;
  margin: 0.5em;
}

.timeblockDevDisplay {
  display: block;
  width: 100%;
}

.calendarStyle {
  display: flex;
  justify-content: center;
}

.dayBlock {
   width: 12.85%;
   height: 270px;
   background: #FFFFFF;
   border: 1px solid black;
}

.dayLabel {
  width: 12.85%;
  text-align: center;
}

.timeBlockDisplay {
  width: 100%;
  text-align: center;
  border: 1px solid black;
}

.tbDeleteButton {
  /* We DO plan to use this to pretty up the button.*/
}

.groupListDisplay {
  display: inline-flex;
  justify-content: flex-end;
}
.groupListGroups {
  width: 25%;
  height: 6.1225%;
}
