.lsButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.userText input {
  display: block;
  width: 100%;
}

form {
  display: inline-block;
  width: 235px;
}

.timeblockDevDisplay *{
  display: inline;
  margin: 0.5em;
}

.timeblockDevDisplay {
  display: block;
  width: 100%;
}

.timeBlockDummy{
    /*Dummy class for making the js file easier to work with*/
}

.calendarStyle {
  display: flex;
  justify-content: center;
}

#calendar {
  /*Dummy id for making the js file easier to work with*/
}

#week {
    /*Dummy id for making the js file easier to work with*/
}

.dayBlock {
   width: 12.85%;
   height: 270px;
   background: #FFFFFF;
   border: 1px solid black;
}

.dayLabel {
  width: 12.85%;
  text-align: center;
}

.timeBlockDisplay {
  width: 100%;
  text-align: center;
  border: 1px solid black;
}

.tbDeleteButton {

}

.groupListDisplay {
  display: inline-flex;
  justify-content: flex-end;
}
.groupListGroups {
  width: 25%;
  height: 6.1225%;
}
